*{
    margin:0;
    padding:0;
}

body{
    position:absolute;
    height: 2041px;
    width: 1154px;
    background: #ffffff;
    border-radius: 0px;

}

li{
    list-style: none;
}

.links a{
    color: black;
    list-style:inside;
}

.work{
    position: absolute;
    width: 57px;
    height: 43px;
    left: 856px;
    top: 27px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;    
}

.blog{
    position: absolute;
    width: 106px;
    height: 43px;
    left: 882px;
    top: 27px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
}

.contact{
    position: absolute;
    width: 71px;
    height: 43px;
    left: 1021px;
    top: 27px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
}

h1{
    position: absolute;
    width: 156px;
    height: 54px;
    left: 235px;
    top: 160px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}

#one h3{
    position: absolute;
    width: 682px;
    height: 33px;
    left: 235px;
    top: 269px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    }

#one .date{

    position: absolute;
    width: 374px;
    height: 25px;
    left: 235px;
    top: 318px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #21243D;
}

#one .dt{
    position: absolute;
    width: 374px;
    height: 34px;
    left: 391px;
    top: 318px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}
#one p{
    position: absolute;
    width: 682px;
    height: 43px;
    left: 235px;
    top: 358px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

#two h3{
    position: absolute;
    width: 682px;
    height: 47px;
    left: 235px;
    top: 462px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

#two .date{
    position: absolute;
    width: 374px;
    height: 34px;
    left: 235px;
    top: 511px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;  
    color: #21243D;
}

#two .dt{
    position: absolute;
    width: 374px;
    height: 34px;
    left: 391px;
    top: 511px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px; 
    color: #8695A4;
    
}

#two p{
    position: absolute;
    width: 682px;
    height: 89px;
    left: 235px;
    top: 551px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;

}

#three h3{
    position: absolute;
    width: 682px;
    height: 47px;
    left: 235px;
    top: 655px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;  
    color: #21243D;
    
}

#three .date{
    position: absolute;
    width: 374px;
    height: 34px;
    left: 235px;
    top: 704px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
     color: #21243D;
}

#three .dt{
        position: absolute;
        width: 374px;
        height: 34px;
        left: 391px;
        top: 704px;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;    
        color: #8695A4;
        
}

#three p{
    position: absolute;
    width: 682px;
    height: 89px;
    left: 235px;
    top: 744px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;

}

#four h3{
    position: absolute;
    width: 682px;
    height: 47px;
    left: 235px;
    top: 848px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;    
    color: #21243D; 
}

#four .date{
    position: absolute;
    width: 374px;
    height: 34px;
    left: 235px;
    top: 897px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;  
    color: #21243D;
}

#four .dt{
    position: absolute;
    width: 374px;
    height: 34px;
    left: 391px;
    top: 897px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;    
    color: #8695A4;
}

#four p{
    position: absolute;
    width: 682px;
    height: 89px;
    left: 235px;
    top: 937px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

#container{
    
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
}

.footer{
    position: absolute;
    height: 21px;
    left: 40.28%;
    right: 40.45%;
    top: calc(50% - 21px/2 + 26.5px);
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;

}