*{
    margin:0;
    padding:0;
}

body{
    position:absolute;
    height: 2041px;
    width: 1154px;
    background: #ffffff;
    border-radius: 0px;

}

li{
    list-style: none;
}

.links a{
    color: black;
    list-style:inside;
}

.work{
    position: absolute;
    width: 57px;
    height: 43px;
    left: 856px;
    top: 27px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;    
}

.blog{
    position: absolute;
    width: 106px;
    height: 43px;
    left: 882px;
    top: 27px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
}

.contact{
    position: absolute;
    width: 71px;
    height: 43px;
    left: 1021px;
    top: 27px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
}
#image{
    position: absolute;
    width: 243px;
    height: 243px;
    left: 760px;
    top: 210px;
     border-radius: 50%;
    
}

.name{
    position: absolute;
    width: 506px;
    height:105px;
    left: 148px;
    top: 228px;
    font-family: "heebo";
    font-weight: 700;
    font-style: normal;
    font-size: 44px;
    line-height: 60px;
    color:#21243d;
}

p.text{
    position: absolute;
    width: 497px;
    height: 66px;
    left: 148px;
    top:373px;
    font-family: 'heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.btn{
    position: absolute;
    width: 208px;
    height: 47px;
    left: 148px;
    top: 477px;
    background: #ff6464;
    border-radius: 2px;
}

.btn_btn{
    width: 167px;
    height: 0px;
    left: 168px;
    top: 486px;
    font-family: 'heebo';
    font-weight: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #ffffff;
}

.recent{
    position: absolute;
    width: 1152px;
    height: 400px;
    left: 1px;
    top: 595px;
    background: #edf7fa;
}

.recent .post{
    width: 129px;
    height: 60px;
    left: 148px;
    top: 602px;
    font-family: 'heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243d;
}

.recent a{
    width: 208px;
    height:2px;
    float: right;
    font-family: 'heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 70px;
    text-align: right;
    display: flex;
    align-items: flex-end;
    color: #00a8cc;
}

.recent .box{
   width: 418px;
   height: 295px;
   left: 148px;
   top: 664px;
   background: #ffffff;
   box-shadow: 0px 4px 10px
   #bbe1fa40;
   border-radius: 4px;
}

.box h4{
    width: 374px;
    height: 85px;
    left: 171px;
    top: 688px;
    font-family: 'heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243d;
}

.box .date{
    width: 374px;
    height: 34px;
    left: 171px;
    top: 790px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}
.box .border{
    width: 0px;
    height: 21px;
    left: 301px;
    top: 793px;
    border: 1px solid #000000;
}

.box .pattern{
    width: 239px;
    height: 34px;
    left: 327px;
    top: 790px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}

.box p{
    width: 368px;
    height: 117px;
    left: 171px;
    top: 835px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

.recent .boxb{
    width: 418px;
    height: 295px;
    top: 664px;
    left: 586px;
    background: #FFFFFF;
    border-radius: 4px;
    float: right;
    margin-top:-300px ;
    
    
}

.boxb h4{
    width: 374px;
    height: 85px;
    left: 609px;
    top: 688px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
}

.boxb .dt{
    width: 374px;
    height: 34px;
    left: 609px;
    top: 790px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}

.boxb .border{
    width: 0px;
    height: 21px;
    left: 740px;
    top: 791px;
    border: 1px solid #000000;
}

.boxb .figma{
    width: 239px;
    height: 34px;
    left: 765px;
    top: 790px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}

.boxb p{
    width: 368px;
    height: 117px;
    left: 609px;
    top: 835px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

 .featured{
    position: absolute;
    height: 60px;
    left: 148px;
    top: 1006px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}

.first {
    overflow: auto;
}

 #design{
    width: 246px;
    height: 180px;
    left: 146px;
    top: 1088px;
    border-radius: 6px;
    margin-right: 20px;
    float: left;

}
.first.dash{
    width: 335px;
    height: 44px;
    top: 1077px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

.first .cover{
    width: 62px;
    height: 25px;
    left: 410px;
    top: 1141px;
    background: #142850;
    border-radius: 16px;
}

.first.cover p{
    width: 42px;
    height: 60px;
    left: 420px;
    top: 1123px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 60px;
    color: #995858;
}

.first .dashboard{
    width: 374px;
    height: 34px;
    left: 498px;
    top: 1137px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.first p{
    width: 594px;
    height: 93px;
    left: 410px;
    top: 1188px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;

}

.second{
    overflow: auto;
}

#vibrant{
    width: 246px;
    height: 180px;
    left: 146px;
    top: 1314px;
    border-radius: 6px;
    margin-right:20px;
    float: left;
}

.vibrant{
    width: 337px;
    height: 44px;
    left: 410px;
    top: 1312px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;

    color: #21243D;
}

.covers {
    width: 62px;
    height: 25px;
    left: 560px;
    top: 1372px;;
    background: #142850;
    border-radius: 16px;
}

.covers .bt{
    width: 42px;
    height: 60px;
    left: 420px;
    top: 1354px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
}

.second .illustration{
    width: 374px;
    height: 34px;
    left: 498px;
    top: 1368px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.second p{
    width: 594px;
    height: 93px;
    left: 148px;
    top: 1419px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    text-align: right;
}

.third{
    overflow: auto;
}

#days{
    width: 246px;
    height: 180px;
    left: 148px;
    top: 1560px;
    border-radius: 6px;
    margin-right: 20px;
    float: left;
}
.third.days{
    width: 365px;
    height: 44px;
    left: 410px;
    top: 1560px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

.cvr{
    width: 62px;
    height: 25px;
    left: 410px;
    top: 1372px;
    background: #142850;
    border-radius: 16px;
}

.cvr p{
    width: 42px;
    height: 60px;
    left: 420px;
    top: 1599px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
}

 .typography{
    width: 374px;
    height: 34px;
    left: 498px;
    top: 1613px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
   color: #8695A4;
}

.third p{
    width: 507px;
    height: 93px;
    left: 413px;
    top: 1679px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

#container{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;    
    background: #FFFFFF
}

.footer p{
    height: 21px;
    left: 40.28%;
    right: 40.45%;
    top: calc(50% - 21px/2 + 26.5px);
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
}
